{% extends "upload/base.html" %}

<!-- This is the home page -->
{% block header %}
  <div class='jumbotron'>
    <h1>CFC's Donor List Creator</h1>
  </div>
{% endblock header %}

{% block content %}
  <h2>Upload excel file here</h2>
  <p>Refer to the <a href="{% url 'upload:instructions' %}">instructions</a> if you need help.</p>
    <form method='POST' action='' enctype='multipart/form-data'>
      {% csrf_token %}
      {{ form.as_p }}
      <button name="submit">Upload file</button>
    </form>
  <div style="margin-top:40px"></div>
{% endblock content %}
