{% extends "upload/base.html" %}

{% block header %}
  <h1>Instructions</h1>
{% endblock header %}

{% block content %}
  <p>Excel file should be organized in the following conventional manner:</p>
  <p style="margin-left: 20px">1st column (A): First name</p>
  <p style="margin-left: 20px">2nd column (B): Last name</p>
  <p style="margin-left: 20px">3rd column (C): Street address</p>
  <p style="margin-left: 20px">4th column (D): Most recent donation amount</p>
  <p style="margin-left: 20px">5th column (E): Most recent donation date</p>
{% endblock content %}
